<%- include("partials/header.ejs") %>

<div class="categorypage__main__container">

  <%- include("partials/categoriesAside") %>


  <div class="topics__main">
    <div class="topics__container">
      <h1 class="categories__category__title"><%= currentCategory.name %></h1>


      <% for(let topic of topics) { %>
      <article class="topic">
        <header class="topic__header">
          <!-- Mettre une photo et nom auteur -->
          <img src="/assets/default_user.png" alt="avatar">
          <h3 class="topic__header__author">by <%= topic.pseudo %></h3>
          <p class="topic__header__createDate">
            le <time><%= new Date(topic.created_at).toLocaleDateString() %></time>
          </p>
        </header>

        <main class="topic__main">
          <h2 class="topic__main__title"><a href="/topics/<%= currentCategory.name %>/<%= topic.id %>"><%=topic.title%></a></h2>
          <p class="topic__main__description"><%= topic.topic_description %></>
        </main>

        <footer class="topic__footer">
          <div class="topic__footer__title">Comments</div>
          <div class="topic__footer__nbMessages"><%= topic.nb_message %></div>
        </footer>
      </article>
      <% } %>
    </div>

    <!-- ici débute le formulaire -->

    <% if (session.data.logguedIn) { %>

    <% if (session.data.createError) {%>
    <div style="color: red;"><%= session.data.createError %></div>

    <% session.data.createError
   } %>

    <form method="post" data-action="/topics/<%=  currentCategory.name %>/post" id="form" class="topic__form">

      <input
      type="text"
      name="topic__title"
      id="topic__title"
      class="topic__form__title"
      placeholder="title of your topic..."
   />


      <div class="topic__form__editorContainer">
        <div id="editor"></div>
      </div>
      <!-- </div> -->
      <textarea
        name="topic__desc"
        id="form_content"
        class="topic__form__hidden"
     ></textarea>
      <button class="topic__form__submitBtn" type="submit">Poster la description</button>


    </form>
    <% } %>

    <!-- FIN FORMULAIRE on ferme topic__container ici dessous !-->
  </div>
</div>


<%- include("partials/footer.ejs") %>
